# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/
.venv/
yolop_env/

# Jupyter
.ipynb_checkpoints/

__pycache__/
*.pyc

# Models
*.pt
*.pth
*.h5

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db


#yolop/weights/